.PlaySettings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    user-select: none;
}

.Selected {
    animation: pulse 1s infinite;
}

.PlayTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    height: 4rem;
    position: absolute;
    top: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 1.5rem;
    margin: .5rem;
}


.DaBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

/* Question Amount  */

.Amount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    margin: 2rem;
    height: 16rem;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    border-radius: .2rem;
}

.TopTitle {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: dodgerblue;
    width: 100%;
    text-align: center;
    height: 3rem;
    position: absolute;
    top: 0;
}

.Amount>button {
    margin-top: 2rem;
    font-size: 1.3rem;
    position: relative;
    width: 10rem;
    height: 3rem;
    cursor: pointer;
    border: none;
}

.Five {
    color: white;
    background-color: rgb(30, 218, 255);
}

.Ten {
    color: white;
    background-color: rgb(0, 16, 116);
}

.Amount>button:hover {
    animation: pulse .3s infinite;
}


/* Difficulty */

.Difficulty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    margin: 2rem;
    height: 16rem;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    border-radius: .2rem;
}

.Difficulty>button {
    font-size: 1.2rem;
    position: relative;
    width: 80%;
    height: 2.5rem;
    cursor: pointer;
    border: none;
    font-weight: 900;
    color: black;
    margin-bottom: 1rem;
}

.Easy {
    margin-top: 4rem;
    background-color: #00eb00;
    /* Muted green */
}

.Medium {
    background-color: #ffff00;
    /* Muted yellow */
}

.Hard {
    background-color: #b60000;
    /* Muted red */
}

.Difficulty>button:hover {
    animation: pulse .3s infinite;
}



/* Categories */
.Categories {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    border-radius: .2rem;
}

.Categorys {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.CategoryBtn {
    font-size: 1.2rem;
    position: relative;
    width: 15%;
    height: 3rem;
    cursor: pointer;
    border: none;
    font-weight: 600;
    border-radius: .2rem;
    color: rgb(0, 0, 0);
    margin: 1rem;
}

.CategoryBtn:hover {
    animation: pulse .5s infinite;
}

/* Begin Button */
.Begin {
    width: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.7);
    border: 0;
    color: white;
    height: 4rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background 0.30s ease;
    margin: 2rem;
}

.Begin:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
}