.StatsTable {
    border-radius: .2rem;
    border-collapse: collapse;
    width: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
}


.StatsBtn {
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    border: 0;
    color: white;
    height: 3rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background 0.25s ease;
}

.StatsBtn:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
}

th {
    color: white;
    border-bottom: 1px solid #858585;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem;
}

td {
    text-align: center;
    color: #fff;
    font-weight: 400;
    padding: 1rem;
}


tbody tr {
    transition: background 0.25s ease;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.Right {
    font-weight: 900;
    color: lawngreen;
}

.Wrong {
    font-weight: 900;
    color: red;
}

.Category {
    font-weight: 900;
}

.CategoryTitle {
    animation: rainbowFlash 4s infinite;
    font-weight: 900;
}

.Average {
    color: white;
    font-weight: 900;
}

@keyframes rainbowFlash {
    0% {
        color: #ff0000;
        /* Red */
    }

    16.666% {
        color: #ff9900;
        /* Orange */
    }

    33.333% {
        color: #ffff00;
        /* Yellow */
    }

    50% {
        color: #33cc33;
        /* Green */
    }

    66.666% {
        color: #3399ff;
        /* Blue */
    }

    83.333% {
        color: #9900cc;
        /* Purple */
    }

    100% {
        color: #ff0000;
        /* Back to Red */
    }
}

@media (max-width: 1000px) {


    .StatsBtn {
        width: 95%;
    }

    .StatsTable {
        width: 95%;

    }

    th {
        font-size: 1rem;
        padding: .5rem;
    }

    td {
        padding: .8rem;
    }

}