.Profile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    user-select: none;
    background: linear-gradient(315deg, rgba(72, 32, 149, 1) 3%, rgba(0, 150, 136, 1) 38%, rgba(2, 171, 245, 1) 68%, rgba(239, 83, 80, 1) 98%);
    animation: gradient 25s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    position: relative;
}

.PersonalInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(0, 212, 212);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    border-radius: .2rem;
}

.Username {
    text-align: center;
    font-size: 3rem;
    margin: .5rem;
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #ffffff 0%,
            rgb(0, 4, 74) 29%,
            dodgerblue 67%,
            #000000 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.ProfilePicture {

    width: 20%;
}

.ProfileOptions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 2rem;
    background-color: lightgoldenrodyellow;
    margin-bottom: 1rem;

}

.ProfileOptions>button {
    background: transparent;
    border: 0;
    color: dodgerblue;
    cursor: pointer;
}

.AccountInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: lightcyan;
}

.AccountInfo>p {
    margin: .3rem;
}

.ProfileLevel {
    font-weight: 900;
    color: dodgerblue;
}

.ProfileAge {
    text-align: center;
    width: 85%;
    color: gray;
    padding-bottom: .5rem;
    border-bottom: 1px solid rgb(171, 171, 171);
}

.ProfileMotto {
    text-align: center;
    width: 90%;
    padding-bottom: .5rem;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}