.Profile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    user-select: none;
    background: linear-gradient(315deg, rgba(72, 32, 149, 1) 3%, rgba(0, 150, 136, 1) 38%, rgba(2, 171, 245, 1) 68%, rgba(239, 83, 80, 1) 98%);
    animation: gradient 40s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    position: relative;
}

.PersonalInfo {
    margin: 1rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    border-radius: .2rem;

}

.Username {
    text-align: center;
    font-size: 3rem;
    margin: .5rem;
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #ffffff 0%,
            #fffb00 29%,
            #f65f01 67%,
            #000000 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.ProfilePicture {
    border-radius: .2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    width: 12rem;
    margin: .5rem;
}

.ProfileOptions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 2rem;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 1rem;

}

.ProfileOptions>button {
    background: transparent;
    border: 0;
    color: dodgerblue;
    cursor: pointer;
    font-size: 1rem;
}

.ProfileOptions>button:hover {
    color: white;
}

.AccountInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.2rem;
}

.AccountInfo>p {
    margin: .3rem;
}

.ProfileLevel {
    font-size: 1.5rem;
    font-weight: 900;
    color: dodgerblue;
}

.ProfileAge {
    font-size: 1rem;
    text-align: center;
    width: 90%;
    color: rgb(84, 84, 84);
    padding-bottom: .5rem;
    border-bottom: 1px solid rgb(94, 94, 94);
}

.ProfileMotto {
    text-align: center;
    width: 90%;
    padding-top: .5rem;
    padding-bottom: 1rem;
    font-weight: 900;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}