.NavBar1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: dodgerblue;
    height: 4.5rem;
    border-bottom: 1px solid white;
}


.WebsiteTitle {
    user-select: none;
    color: white;
    cursor: pointer;
}


.Btn-Log-Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 14rem;
}

.Log-Btn {
    user-select: none;
    font-weight: 900;
    color: white;
    border: 2px solid white;
    border-radius: .2rem;
    height: 2rem;
    width: 6rem;
    background-color: transparent;
    cursor: pointer;
}

.Log-Btn:hover {
    color: black;
    background-color: white;

}