.XPBar {
    border: 2px solid black;
    width: 30%;
    height: 2rem;

}

.Meter {
    height: 100%;
    width: 0;
    background: linear-gradient(90deg, rgb(64, 255, 30), rgba(255, 255, 255, 0.2));
    background-size: 200% 100%;
    animation: gradientAnimation 2s linear infinite;
    transition: width 0.5s ease;
}

@keyframes gradientAnimation {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: -100% 0;
    }
}