.Bar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    position: relative;
    border-bottom: 1px solid rgb(155, 155, 155);
}

.Bar>p {
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-weight: 900;
    font-size: 2rem;
}


.XPBar {
    border: 1px solid black;
    width: 60%;
    height: 1.5rem;
    border-radius: .2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    background-color: rgb(240, 240, 240);
    position: relative;
    margin-bottom: 1.5rem;
}

.Meter {
    border-radius: .2rem;
    height: 100%;
    width: 0;
    background: linear-gradient(90deg, rgb(64, 255, 30), rgba(255, 255, 255, 0.9));
    background-size: 200% 100%;
    animation: gradientAnimation 2s linear infinite;
    transition: width 0.5s ease;
}

@keyframes gradientAnimation {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: -100% 0;
    }
}