.MusicPlayer {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 2rem;
    border: 1px solid rgb(186, 186, 186);
    z-index: 1;
}

.MusicPlayer>button {
    background: transparent;
    border: 0;
    font-size: 1rem;
}