.Box {
    margin: 1rem;
    width: 50%;
    color: white;
    text-align: center;
    height: 30rem;
    background-color: blue;
}


.BoxBtn {
    margin-top: 1rem;
    width: 50%;
    color: white;
    text-align: center;
    background-color: green;
}