.Play {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: relative;
    user-select: none;
    background: linear-gradient(315deg, rgba(72, 32, 149, 1) 3%, rgb(0, 200, 117) 38%, rgb(0, 115, 164) 68%, rgba(239, 83, 80, 1) 98%);
    animation: gradient 60s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}